* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}


.nav-bar {

    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

/*bocx 1*/


.left-icons {
    height: 50px;
    width: 100px;
    margin-top: 5px;
}

.options {

    height: 50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;


}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid whitesmoke;
}


/* box 2 */

.address {
    width: 90px;
    height: 50px;
    margin: 5px 2px 5px 0px;
    padding: 0px 9px;
}

.add-first {
    font-size: 11px;
    color: #ccc;
    margin-left: 1rem;
    margin-top: 5px;


}

.nowrap {
    flex-wrap: wrap;
}

.add-sec p {
    font-size: 14px;
    margin-left: 1rem;
    margin-bottom: 1rem;


}

.adress-icons {
    margin-left: 0;
    display: flex;
    gap: 6px;
}


/*box three*/
/* search bar */

.nav-search-bar {
    width: 130vh;
    height: 40px;
    background-color: #eee;
    margin: 10px 4px 10px 3px;
    display: flex;
    border: solid 1px black;
    border-radius: 5px;


}

.nav-search-bar:hover {
    border: 1px solid rgba(250, 166, 71, 0.842);
}

.search-icon {
    width: 45px;
    height: 40px;
    border: none;

}

.search {
    width: 90%;
    border: none;
    font-size: 0.9rem;
    color: black;
    padding: 5px;

}


.search-icon {

    background-color: rgba(250, 166, 71, 0.842);
    border-radius: 0 5px 5px 0;

}

.search-icon:hover {
    background-color: rgb(255, 136, 0);
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.dropdown {
    background-color: #f3f3f3;
    width: 50px;
    color: black;
    font-size: 12px;
    border: none;
    color: grey;
    border-radius: 5px 0 0 5px;
    padding: 6px;
    border-right: 1px solid gray;

}

.dropdown:hover {
    background-color: #dbd2d2a1;
    color: #000;
}

/*BOX 3*/

.lang {
    width: 70px;
    height: 50px;
    display: flex;
    margin-left: 1rem;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    margin-top: 5px;
}


/* box 4*/
.account {
    width: 130px;
    height: 50px;
    font: white;
    margin: 5px;
}

.account-1 p {
    font-size: 12px;
    padding: 5px 0px 0px 6px;
}

.account-2 p {
    font-weight: bold;
    font-size: 14px;
    padding: 0 0 0 4px;
}

/* box 5 */
.return {
    width: 80px;
    height: 50px;
    margin: 5px;
}

.p-1 {
    font-size: 12px;
    padding: 5px 0px 0px 6px;
}

.p-2 {
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 0 4px;
}


/*box 6*/

.cart {
    width: 70px;
    height: 50px;
    display: flex;
    margin: 5px;
}

.cart i {
    font-size: 35px;
}

.cart-icon {

    padding: 5px 0px 0px 6px;
}

.c-2 {
    margin-top: 12px;
    font-weight: bold;
}


/*below nav bar*/

.below-nav-bar {
    max-height: 40px;
    background-color: #232f3e;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;

    font-size: 14px;
}

.below-nav-bar1 {
    width: 55px;
    height: 40px;
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-weight: bold;
}

.below-nav-bar2 {
    width: 100px;
    height: 40px;
    width: 90%;
}

.below-nav-bar2 ul {

    height: 40px;
    display: flex;

    list-style: none;
}

.below-nav-bar2 ul li {
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

}

.below-nav-bar2 ul li:nth-child(2) {
    width: 150px;

}

.below-nav-bar2 ul li:first-child {
    width: 90px;
}

.below-nav-bar3 {
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-weight: bold;
    margin-right: 1rem;
}

/* hero section*/

.hero-section {
    background-image: url("hero_image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;

}

.msg {
    background-color: white;
    height: 40px;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.msg a {
    color: #007185;
    text-decoration: none;

}

.msg a:hover {
    color: rgb(192, 125, 0);
    text-decoration: underline;
}

/* boxes for products */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    /* background-color: rgb(171, 205, 250); */
    background-image: linear-gradient(rgb(171, 205, 250), whitesmoke);
}

.box {

    height: 400px;
    width: 22%;
    margin-top: 15px;
    background-color: white;
}


.box-img {
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-size: cover;

}

.box-content {
    padding: 20px 0 15px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;

}

.box-content p {
    color: #007185;
    margin-top: 19rem;

}


/* upper of footer */

.sign-in {
    width: 100%;
    height: 130px;

    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid grey;
}

.button {
    width: 230px;
    height: 30px;
    border: 1px solid rgba(252, 154, 43, 0.842);
    font-weight: bold;
    background-image: linear-gradient(white, rgba(247, 212, 10, 0.938));

}

.footer {
    width: 100%;
    height: 700px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.upper-footer {
    width: 100%;
    height: 50px;
    background-color: #394e68f6;
    color: #eee;
    font-weight: bold;
    display: block;
    padding: 15px 14px;

}

.upper-footer:hover {
    background-color: #62758b;
}

.upper-footer a {
    text-decoration: none;
    color: whitesmoke;
    align-content: center;
    margin: 0 40% 0 45%;
    display: block;
}


.middle-footer {
    height: 80%;
    width: 100%;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-evenly;
     
}

.middle-content {
    width: 136px;
    height: 118px;
    padding: 0 10px;
    margin-top: 4rem;
    margin-left: 2rem;
    font-size: 12px;
}

.middle-content li{
list-style: none;
 margin-top: 5px;
 
}
.middle-content h3{
    margin-bottom: 1rem;
font: 16px;
}

.mc2{
    width: 170px;
}

.lower-footer {
    height: 100px;
    width: 100%;
    background-color: #232f3e;
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-img{
    
        height: 50px;
        width: 100px;
        margin-top: 5px;
    
}

.logo{
  
    height: 50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
    padding: 0 7.2px;
}

.lower-border{
height: 35px;
width: 116px;
border: 1px solid whitesmoke;
background-color: #232f3e;
color: #eee;
display: flex;
 justify-content: center;
 align-items: center;
 gap: 1rem;
 
}
.lower-buttons{
    width:32%;
    height: 34px;
align-content: center;
  display: flex;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-right: 0.5rem;
 
}

.in-flag{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.lower-border:first-child{
    width: 116px;
}
.lower-border:nth-child(2){
    width: 141px;

}
.lower-border:last-child{
    width: 151px;
}